@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100&family=Urbanist:wght@100&display=swap");
.grupo-1 .container-logo, footer .grupo-1 .box figure, .body-products, .body-team .testimonials .card img, .body-team h2, .two-column div {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .background .app-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-body .screen-body-item.left, .body-team .testimonials .card {
  display: flex;
  flex-direction: column;
}

.content-logo-nav, footer .grupo-1 .box .redsocial, .screen-body, .screen-header-right, body .background, .two-column {
  display: flex;
}

.nav-toggle {
  display: none;
}

.screen-header {
  display: flex;
  align-items: center;
}

.body-team .testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .grupo-1 {
  display: grid;
}

.body-products .wrapper .tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto 1.5fr 1fr;
}

nav ul li a, .text-logo, .carrito, .btn-style-one, a, a:hover,
a:focus,
a:active, .container a, .two-column h2 .reserva {
  text-decoration: none;
}

nav ul li a, .body-products .wrapper h1, .screen-body .screen-body-item .app-form-group .app-form-control, .body-team h2 {
  text-transform: uppercase;
}

.main-title, .content-logo-nav .text-logo, .grupo-2, .carrito::before, .carrito, .body-products .wrapper .tarjetas .tarjetas__precio .price, .body-products .wrapper h1, .float, .body-team .testimonials .card .description p, .body-team .testimonials .card, .container .services-small-item .text-3, .container .services-small-item .text-2, .container .services-small-item .text-1, .container .services-small-item .button i, .container .services-small-item, .container .center-heading, .two-column div {
  text-align: center;
}

.text-logo:hover, .body-team .testimonials .card span, .btn-style-one:hover, .two-column h2 .reserva:hover {
  text-decoration: line-through;
}

footer .grupo-1 .box figure, footer, .container .services-small-item::before, .slider .slide-track .slide img, .two-column .imagen {
  width: 100%;
  height: 100%;
}

.about-section .image-column .image-1 img {
  max-width: 100%;
  max-height: 100%;
}

.slider .slide-track .slide, .slider {
  height: 500px;
  width: 100%;
}

.grupo-1 .container-logo figure .imagenfooter {
  width: 100px;
  height: 100px;
}

nav, .screen-body .screen-body-item .app-form-group .app-form-control {
  width: 100%;
}

footer .grupo-1 .box .redsocial {
  width: 100px;
}

.icono-shop {
  padding-top: 30px;
  width: 80px;
  height: 80px;
}

.body-home {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.heading {
  font-weight: 600;
  font-size: 200px;
}

.two-column {
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: 130px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.two-column .imagen {
  object-fit: contain;
  padding: 10px;
  max-width: 854px;
  max-height: 480px;
}
.two-column h2 {
  padding-top: 10px;
}
.two-column h2 .reserva {
  color: white;
  font-size: 30px;
}
.two-column h2 .reserva:hover {
  color: goldenrod;
}
.two-column .desc {
  color: white;
  padding: 15px;
}
.two-column div {
  flex: 1;
}

@media (max-width: 1632px) {
  .heading {
    font-weight: 600;
    font-size: 5rem;
  }
}
@media (max-width: 1200px) {
  .two-column {
    display: flex;
    flex-direction: column;
    margin: 75px;
  }
  .two-column .heading {
    font-weight: 600;
    font-size: 4rem;
  }
}
@media (max-width: 1200px) and (max-width: 600px) {
  body {
    padding-top: 50px;
  }
  .two-column {
    margin: 75px 25px;
  }
  .two-column .heading {
    font-weight: 600;
    font-size: 3rem;
  }
}
/*Animacion Carrousel*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
::before {
  left: 0;
  top: 0;
}

::after {
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px black;
  margin: auto;
  overflow: hidden;
  position: relative;
  animation: 40s;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.body-services {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.container {
  font-family: "Poppins", sans-serif;
}
.container .center-heading .section-title {
  font-weight: 400;
  font-size: 28;
  color: white;
  letter-spacing: 1.1px;
  line-height: 38px;
  margin-bottom: 100px;
  margin-top: 20px;
}
.container .services-small-item {
  display: block;
  background-image: linear-gradient(60deg, #a4a184 0%, #2d2d2e 100%);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 40px 28px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}
.container .services-small-item:hover {
  margin-top: -15px;
}
.container .services-small-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #c6a323 0%, #131524 100%);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.container .services-small-item .button {
  position: relative;
  z-index: 2;
}
.container .services-small-item .button i {
  width: 42px;
  height: 42px;
  background-color: black;
  line-height: 42px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: white;
  padding-left: 3px;
}
.container .services-small-item .icon {
  width: 139px;
  height: 139px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.container .services-small-item .icon i {
  display: block;
  height: 67px;
  line-height: 67px;
  position: absolute;
  width: 100%;
  top: 22px;
  z-index: 2;
  font-size: 28;
  background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.container .services-small-item p {
  font-weight: 400;
  font-size: 14;
  color: black;
  letter-spacing: 0.88px;
  line-height: 26px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 30px;
}
.container .services-small-item .text-1 {
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 87px;
}
.container .services-small-item .text-2 {
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 60px;
}
.container .services-small-item .text-3 {
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 8px;
}
.container .services-small-item .services-title {
  font-weight: 400;
  font-size: 30px;
  color: black;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services-small-item.active:before, .services-small-item:hover:before {
  opacity: 1;
}

.services-small-item.active .icon:before .icon:before, .services-small-item:hover .icon:before {
  opacity: 0.26;
}

.services-small-item.active .icon i .icon i, .services-small-item:hover .icon i {
  background: -webkit-linear-gradient(white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-small-item.active .services-title .services-title, .services-small-item:hover .services-title {
  color: white;
}

.services-small-item.active p p, .services-small-item:hover p {
  color: white;
}

.services-small-item.active .button i .button i, .services-small-item:hover .button i {
  background-image: linear-gradient(135deg, white 0%, white 100%) !important;
  color: black !important;
}

a:hover,
a:focus,
a:active {
  outline: none;
}

a,
a:active,
a:focus {
  color: #4d4d4f;
}

.list-style-one {
  position: relative;
}

.btn-style-one {
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  color: white;
  padding: 5px 30px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  background-color: black;
  margin-top: 10px;
}
.btn-style-one:hover {
  background-color: white;
  color: black;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body-about {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
}

.about-section {
  position: relative;
  padding: 120px 0 70px;
  font-family: "Poppins", sans-serif;
}
.about-section .content-column {
  position: relative;
  margin-bottom: 50px;
  padding-top: 30px;
}
.about-section .content-column .inner-column {
  position: relative;
  padding-left: 30px;
  padding-bottom: 0px;
}
.about-section .content-column .inner-column::before {
  position: absolute;
  width: calc(50% + 80px);
  height: calc(100% + 160px);
  top: -80px;
  left: -44px;
  background: transparent;
  border: 44px solid black;
}
.about-section .content-column .inner-column .title {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 24px;
  color: white;
  font-weight: 800;
  margin-bottom: 15px;
}
.about-section .text {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 26px;
  color: white;
  font-weight: 400;
  position: relative;
  margin-top: 35px;
}
.about-section .image-column .image-1 {
  position: relative;
}
.about-section .image-column .image-1 img {
  box-shadow: 0 30px 50px black;
  border-radius: 20px;
  height: auto;
}
.about-section .image-column .text-layer {
  position: absolute;
  right: -110px;
  top: 50%;
  font-size: 325px;
  line-height: 1em;
  color: white;
  margin-top: -175px;
  font-weight: 500;
}

/*----------------------------------------------------------------------------------------------------*/
.body-team {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #3f3c33 0%, rgb(0, 0, 0) 100%);
}
.body-team h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  padding: 30px;
}
.body-team .testimonials {
  padding: 2rem;
  font-family: "Urbanist", sans-serif;
  padding-bottom: 150px;
  padding-top: 100px;
}
.body-team .testimonials .card {
  box-shadow: 0 4px 8px 0 transparent(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 50px;
  transition: 0.5s all;
  width: 350px;
  height: 500px;
  padding: 1rem;
  margin-left: 0.5rem;
  background-color: rgba(234, 240, 246, 0.1);
}
.body-team .testimonials .card:hover {
  box-shadow: 0 8px 16px 0 black;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.body-team .testimonials .card span {
  font-weight: 200;
  font-size: 15px;
  color: white;
  padding-bottom: 20px;
  font-style: italic;
}
.body-team .testimonials .card .c-title {
  color: white;
  font-size: 26px;
  justify-self: center;
  padding: 2px;
  margin-bottom: 0;
  font-weight: 600;
}
.body-team .testimonials .card img {
  height: 200px;
  width: 200px;
  border-radius: 90px 10px 10px 10px;
  margin-left: 60px;
}
.body-team .testimonials .card .description p {
  padding: 0;
  padding-top: 30px;
  font-size: 13px;
  line-height: 1.3rem;
  color: white;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 900px) {
  .testimonials {
    flex-direction: column;
  }
  .card {
    margin-top: 1rem;
  }
}
.grupo-1 .container-logo, footer .grupo-1 .box figure, .body-products, .two-column div, .body-team h2, .body-team .testimonials .card img {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .background .app-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-body .screen-body-item.left, .body-team .testimonials .card {
  display: flex;
  flex-direction: column;
}

.content-logo-nav, footer .grupo-1 .box .redsocial, .screen-body, .screen-header-right, body .background, .two-column {
  display: flex;
}

.nav-toggle {
  display: none;
}

.screen-header {
  display: flex;
  align-items: center;
}

.body-team .testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .grupo-1 {
  display: grid;
}

.body-products .wrapper .tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto 1.5fr 1fr;
}

nav ul li a, .text-logo, .carrito, .two-column h2 .reserva, .container a, a:hover,
a:focus,
a:active, a, .btn-style-one {
  text-decoration: none;
}

nav ul li a, .body-products .wrapper h1, .screen-body .screen-body-item .app-form-group .app-form-control, .body-team h2 {
  text-transform: uppercase;
}

.main-title, .content-logo-nav .text-logo, .grupo-2, .carrito::before, .carrito, .body-products .wrapper .tarjetas .tarjetas__precio .price, .body-products .wrapper h1, .float, .two-column div, .container .center-heading, .container .services-small-item, .container .services-small-item .button i, .container .services-small-item .text-1, .container .services-small-item .text-2, .container .services-small-item .text-3, .body-team .testimonials .card, .body-team .testimonials .card .description p {
  text-align: center;
}

.text-logo:hover, .two-column h2 .reserva:hover, .btn-style-one:hover, .body-team .testimonials .card span {
  text-decoration: line-through;
}

footer .grupo-1 .box figure, footer, .two-column .imagen, .slider .slide-track .slide img, .container .services-small-item::before {
  width: 100%;
  height: 100%;
}

.about-section .image-column .image-1 img {
  max-width: 100%;
  max-height: 100%;
}

.slider, .slider .slide-track .slide {
  height: 500px;
  width: 100%;
}

.grupo-1 .container-logo figure .imagenfooter {
  width: 100px;
  height: 100px;
}

nav, .screen-body .screen-body-item .app-form-group .app-form-control {
  width: 100%;
}

footer .grupo-1 .box .redsocial {
  width: 100px;
}

body .background {
  min-height: 100vh;
}
body .background .app-title {
  position: relative;
  color: white;
  font-size: 26px;
  padding-top: 50px;
}
body .background .app-title:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: white;
}
body .background .app-title span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body button input {
  font-weight: 700;
  letter-spacing: 1.4px;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}
.container .screen {
  position: relative;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  border-radius: 15px;
}
.container .screen:after {
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px black;
  z-index: -1;
}

.screen-header {
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.screen-header .screen-header-left {
  margin-right: auto;
}
.screen-header .screen-header-left .screen-header-button.close {
  background: goldenrod;
}
.screen-header .screen-header-left .screen-header-button.maximize {
  background: #74c54f;
}
.screen-header .screen-header-left .screen-header-button.minimize {
  background: #74c54f;
}
.screen-header .screen-header-left .screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.app-form-control {
  font-family: "Poppins", sans-serif;
}

.app-form-button {
  font-family: "Poppins", sans-serif;
}

.screen-header-right .screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #4d4d4f;
}

.screen-body .screen-body-item {
  flex: 1;
  padding: 50px;
}
.screen-body .screen-body-item .app-form-group {
  margin-bottom: 15px;
}
.screen-body .screen-body-item .app-form-group .message {
  margin-top: 40px;
}
.screen-body .screen-body-item .app-form-group .buttons {
  margin-bottom: 0;
  text-align: right;
}
.screen-body .screen-body-item .app-form-group .app-form-control {
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 13px;
  outline: none;
  transition: border-color 0.2s;
}
.screen-body .screen-body-item .app-form-group .app-form-control::placeholder {
  color: #4d4d4f;
  font-size: 10px;
}
.screen-body .screen-body-item .app-form-group .app-form-control:focus {
  border-bottom-color: #4d4d4f;
}
.screen-body .screen-body-item .app-form-button {
  background: none;
  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}
.screen-body .screen-body-item .app-form-button:hover {
  color: goldenrod;
}
.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.body-contact {
  background-image: linear-gradient(315deg, #2a2c41, #959991);
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-size: 30px;
  box-shadow: 2px 2px 3px white;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }
  .screen-body .screen-body-item.left {
    margin-bottom: 30px;
  }
  .screen-body .screen-body-item.left .app-title {
    flex-direction: row;
  }
  .screen-body .screen-body-item.left .app-title::after {
    display: none;
  }
  .screen-body .screen-body-item.left .app-title span {
    margin-right: 12px;
  }
}
@media screen and (max-width: 600px) {
  .screen-body {
    padding: 10px;
  }
  .screen-body .screen-body-item {
    padding: 0;
  }
  .screen-body .app-title span {
    font-size: 16px;
    text-align: center;
    padding-left: 9px;
  }
}
.body-products {
  background: linear-gradient(270deg, #1b1707, #88846c);
  padding-top: 20px;
}
.body-products .wrapper {
  max-width: 1000px;
  font-family: "Poppins", sans-serif;
  margin: auto auto;
  padding: 1em;
  margin-top: 30px;
  padding-bottom: 100px;
}
.body-products .wrapper h1 {
  color: white;
  margin-top: 10%;
  padding: 40px;
  padding-bottom: 90px;
  font-weight: 900;
}
.body-products .wrapper .tarjetas {
  gap: 2rem;
}
.body-products .wrapper .tarjetas .tarjetas__titulo {
  font-size: 2rem;
  grid-row: span 1;
  color: white;
  font-size: 30px;
}
.body-products .wrapper .tarjetas .tarjetas__precio {
  grid-row: span 1;
  font-size: 2rem;
  font-weight: 900;
}
.body-products .wrapper .tarjetas .tarjetas__precio .price {
  padding-top: 170px;
  color: white;
  font-size: 20px;
}
.body-products .wrapper .tarjetas .iva {
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
}
.body-products .wrapper .tarjetas .tarjetas__item-1 {
  display: grid;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  border-radius: 70px 10px 10px 10px;
  text-align: center;
  padding: 1em;
  grid-template-rows: subgrid;
  grid-row: span 3;
  grid-row-gap: 0em;
  transition: all 500ms ease-in-out;
  animation: fade-in-up 2s backwards;
  background-image: url(/img/Product-cera.jpg);
  margin: 20px;
  height: 430px;
  background-position: center;
}
.body-products .wrapper .tarjetas .tarjetas__item-1:nth-child(1n) {
  animation-delay: 0.2s;
}
.body-products .wrapper .tarjetas .tarjetas__item-1:nth-child(2n) {
  animation-delay: 0.4s;
}
.body-products .wrapper .tarjetas .tarjetas__item-1:nth-child(3n) {
  animation-delay: 0.6s;
}
.body-products .wrapper .tarjetas .tarjetas__item-1:hover {
  transform: translate(0, -1.5rem) rotate(-3deg) scale(1.3);
}
.body-products .wrapper .tarjetas .tarjetas__item-2 {
  display: grid;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  border-radius: 70px 10px 10px 10px;
  text-align: center;
  padding: 1em;
  grid-template-rows: subgrid;
  grid-row: span 3;
  grid-row-gap: 0em;
  transition: all 500ms ease-in-out;
  animation: fade-in-up 2s backwards;
  background-image: url(/img/Product-shampoo.jpg);
  margin: 20px;
  background-position: center;
}
.body-products .wrapper .tarjetas .tarjetas__item-2:nth-child(1n) {
  animation-delay: 0.2s;
}
.body-products .wrapper .tarjetas .tarjetas__item-2:nth-child(2n) {
  animation-delay: 0.4s;
}
.body-products .wrapper .tarjetas .tarjetas__item-2:nth-child(3n) {
  animation-delay: 0.6s;
}
.body-products .wrapper .tarjetas .tarjetas__item-2:hover {
  transform: translate(0, -1.5rem) rotate(-3deg) scale(1.3);
}
.body-products .wrapper .tarjetas .tarjetas__item-3 {
  display: grid;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  border-radius: 70px 10px 10px 10px;
  text-align: center;
  padding: 1em;
  grid-template-rows: subgrid;
  grid-row: span 3;
  grid-row-gap: 0em;
  transition: all 500ms ease-in-out;
  animation: fade-in-up 2s backwards;
  background-image: url(/img/Product-tonico.jpg);
  margin: 20px;
  background-position: center;
}
.body-products .wrapper .tarjetas .tarjetas__item-3:nth-child(1n) {
  animation-delay: 0.2s;
}
.body-products .wrapper .tarjetas .tarjetas__item-3:nth-child(2n) {
  animation-delay: 0.4s;
}
.body-products .wrapper .tarjetas .tarjetas__item-3:nth-child(3n) {
  animation-delay: 0.6s;
}
.body-products .wrapper .tarjetas .tarjetas__item-3:hover {
  transform: translate(0, -1.5rem) rotate(-3deg) scale(1.3);
}

@keyframes fade-in-up {
  0% {
    transform: translatey(100%);
    opacity: 0%;
  }
  100% {
    transform: translatey(0);
    opacity: 100%;
  }
}
.carrito {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  border: 1px solid goldenrod;
  border-radius: 8px;
  height: 2.8em;
  width: 10em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: goldenrod;
  transition: color 0.3s 0.1s ease-out;
  line-height: 250%;
}
.carrito::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: 10em/2;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.carrito:hover {
  color: white;
}
.carrito:hover::before {
  box-shadow: inset 0 0 0 10em goldenrod;
}

footer {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  font-family: "Poppins", sans-serif;
}
footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
footer .grupo-1 .box {
  margin-bottom: 25px;
  font-size: 20px;
  color: black;
}
footer .grupo-1 .box figure {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}
footer .grupo-1 .box h3 {
  color: white;
  margin-bottom: 25px;
  font-size: fontsize;
}
footer .grupo-1 .box p {
  color: white;
  margin-bottom: 10px;
}
footer .grupo-1 .box .redsocial {
  line-height: 45px;
  margin-right: 10px;
}

.grupo-1 .container-logo figure .imagenfooter {
  border-radius: 150px;
}

.grupo-2 {
  background-color: black;
  color: white;
  padding: 15px 10px;
}
.grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  footer .grupo-1 .container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
  }
}
:root {
  --background: $bg-primario;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--background);
  background-image: url(/img/Imagen-Fondo-2.jpg);
  text-align: center;
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 10000;
}

.content-logo-nav .text-logo {
  padding-top: 25px;
}

.text-logo {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.text-logo:hover {
  color: white;
}

.logo {
  width: 55px;
  height: 55px;
  border-radius: 150px;
  margin-left: 10px;
  margin-top: 10px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out 0.4s;
  background-color: black;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav ul li a {
  color: white;
  font-size: 15px;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
nav ul li a:hover {
  color: white;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  transition: transform 0.5s ease-in-out;
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 0.5s ease-out 0.3s;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before, .nav-toggle-label span::after {
  position: absolute;
  content: "";
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
@media screen and (max-width: 846px) {
  .logo {
    display: none;
  }
  .text-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
  }
  .content-logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 843px) {
  .nav-toggle-label {
    display: none;
  }
  .text-logo {
    padding-bottom: 25px;
    padding-left: 10px;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  header nav {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    margin-bottom: 0;
    margin-left: 3em;
  }
  header nav ul li a {
    opacity: 1;
    position: relative;
    font-weight: bold;
  }
  header nav ul li a::before {
    content: "";
    display: block;
    height: 5px;
    background: white;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform 0.2s ease-out;
    transform-origin: left;
  }
  header nav ul li a:hover::before {
    transform: scale(1, 1);
  }
}
body .large-header {
  position: relative;
  width: 100%;
  height: 600PX;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  background-image: url(/img/Imagen-Fondo.jpg);
  opacity: 0.8;
}
body .header-services {
  position: relative;
  width: 100%;
  height: 600PX;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  background-image: url(/img/Fondo-servicios.jpg);
}
body .header-about {
  position: relative;
  width: 100%;
  height: 600PX;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  background-image: url(/img/Fondo-about.jpg);
}
body .header-contact {
  position: relative;
  width: 100%;
  height: 600PX;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  background-image: url(/img/Fondo-contact.jpg);
}

.main-title {
  font-family: "Poppins", sans-serif;
  position: absolute;
  margin: 0;
  padding: 0;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
.two-column div, .body-team h2, .body-team .testimonials .card img, .body-products, footer .grupo-1 .box figure, .grupo-1 .container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .background .app-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-team .testimonials .card, .screen-body .screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.two-column, body .background, .screen-header-right, .screen-body, footer .grupo-1 .box .redsocial, .content-logo-nav {
  display: flex;
}

.nav-toggle {
  display: none;
}

.screen-header {
  display: flex;
  align-items: center;
}

.body-team .testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .grupo-1 {
  display: grid;
}

.body-products .wrapper .tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto 1.5fr 1fr;
}

.two-column h2 .reserva, .container a, a:hover,
a:focus,
a:active, a, .btn-style-one, .carrito, .text-logo, nav ul li a {
  text-decoration: none;
}

.body-team h2, .screen-body .screen-body-item .app-form-group .app-form-control, .body-products .wrapper h1, nav ul li a {
  text-transform: uppercase;
}

.two-column div, .container .center-heading, .container .services-small-item, .container .services-small-item .button i, .container .services-small-item .text-1, .container .services-small-item .text-2, .container .services-small-item .text-3, .body-team .testimonials .card, .body-team .testimonials .card .description p, .float, .body-products .wrapper h1, .body-products .wrapper .tarjetas .tarjetas__precio .price, .carrito, .carrito::before, .grupo-2, .content-logo-nav .text-logo, .main-title {
  text-align: center;
}

.two-column h2 .reserva:hover, .btn-style-one:hover, .body-team .testimonials .card span, .text-logo:hover {
  text-decoration: line-through;
}

.two-column .imagen, .slider .slide-track .slide img, .container .services-small-item::before, footer, footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
}

.about-section .image-column .image-1 img {
  max-width: 100%;
  max-height: 100%;
}

.slider, .slider .slide-track .slide {
  height: 500px;
  width: 100%;
}

.grupo-1 .container-logo figure .imagenfooter {
  width: 100px;
  height: 100px;
}

.screen-body .screen-body-item .app-form-group .app-form-control, nav {
  width: 100%;
}

footer .grupo-1 .box .redsocial {
  width: 100px;
}

/*# sourceMappingURL=style.css.map */
