
body{


	.large-header {
		@include header;
		background-image: url(/img/Imagen-Fondo.jpg);
		opacity: 0.8;
	}


	.header-services{
		@include header;
		background-image: url(/img/Fondo-servicios.jpg);
	}
	
	
	.header-about{
		@include header;
		background-image: url(/img/Fondo-about.jpg);

		
	}
	
	
	.header-contact{
		@include header;
		background-image: url(/img/Fondo-contact.jpg);
	
		
	}
}


.main-title {
	font-family: $ff-principal;
	position: map-get($position, absolute );
	margin: 0;
	padding: 0;
	color: $bg-secundario;
	@extend %text-center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	font-size: nth($fontsize, 2 );
	
}



@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}




