
:root {
  --background: $bg-primario;
}


body {
	margin: 0;
  padding: 0;
}



header {
  background-color: var(--background);
  background-image: url(/img/Imagen-Fondo-2.jpg);
  text-align: center;
  position:map-get($position, fixed);
  width: 100%;
  height:10vh;
  z-index: 10000;

  
}

.content-logo-nav{
  @extend %display-flex;

    .text-logo{
      padding-top: 25px;
      @extend %text-center;

    }

}


.text-logo{
  
  color: $bg-secundario;
  font-family:$ff-principal;
  font-size: nth($fontsize, 1 );
  @extend %text-decoration;


    &:hover{
      color: $bg-secundario;
      @extend %text-line;
    }



}

.logo {
  width: 55px;
  height: 55px;
  border-radius: 150px;
  margin-left: 10px;
  margin-top: 10px;
}

nav {
  position:map-get($position, absolute );
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  @extend %wh-only-porcentaje;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .3s ease-in-out .4s;
  background-color: $bg-primario;
  


  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      margin-bottom: 1em;
      margin-left: 1em;
      
      a {
        color: $bg-secundario;
        @extend %text-decoration;
        @extend %text-tranform;
        font-size: nth($fontsize, 4 );
        transition: opacity .3s ease-out;
        opacity: 0;
        padding: 10px;
        font-family:$ff-principal;

        
        &:hover {
          color: $bg-secundario;
        }
      }
    }
  }
}

.nav-toggle {
  
  @extend %display-none;
  
  &:checked ~ nav {
    transform: scale(1, 1);
    transition: transform .5s ease-in-out;
    a {
      opacity: 1;
      transition: opacity .5s ease-out .3s;
    }
  }
  
  &-label {
    position:map-get($position, absolute );
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    
    span, span::before, span::after {
      display: block;
      background: $bg-secundario;
      height: 2px;
      width: 2em;
      border-radius: 2px;
      position:map-get($position, relative );
    }
    
    span::before, span::after {
      position:map-get($position, absolute);
      content: ""
    }
    
    span::before {
      bottom: 7px;
    }
    
    span::after {
      top: 7px;
    }
  }
  
  &:checked ~ &-label {
    
  }
}



@media screen and (max-width: 846px){

  .logo{
    display: none;
  }

  .text-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
  }

  .content-logo-nav{
    display: flex;
    justify-content: center;
    align-items: center;

  }





}

@media screen and (min-width: 843px) {
  .nav-toggle-label {
    display: none;
    
  }
  

  .text-logo{
    padding-bottom: 25px;
    padding-left: 10px;
  }

  header {
    display: flex;
    justify-content: space-between;
    
    

    nav {
      all: unset;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 40px;
      
    
      
      ul {
        display: flex;
        
        li {
          margin-bottom: 0;
          margin-left: 3em;
          
          a {
            opacity: 1;
            position:map-get($position, relative );
            font-weight: bold;
            
            &::before {
              content: "";
              display: block;
              height: 5px;
              background: $bg-secundario;
              position: absolute;
              top: -.75em;
              left: 0;
              right: 0;
              transform: scale(0, 1);
              transition: transform .2s ease-out;
              transform-origin: left;
            }
            
            &:hover::before {
              transform: scale(1,1);
            }
          }
        }
      }
    }
  }
}
  
