

%wh-porcentaje-100{
    width: 100%;
    height: 100%;
}


%wh-max-100{
    max-width: 100%;
    max-height: 100%;
}


%wh-tercero{
    height: 500px;
    width: 100%;
}


%wh-px-100{
    width: 100px;
    height: 100px;
}

%wh-cuarto{
width: 100%;
height: 600PX;
}