@import '../base/extends/flexbox';
@import '../base/extends/grid';
@import '../base/extends/text';
@import '../base/extends/wh';
@import '../base/listas/fontsize';
@import '../base/variables/colors';
@import '../base/variables/fuentes';
@import'../base/mixins/mixins';
@import '../base/mapas/mapas';



.icono-shop{
    padding-top: 30px;
    width: 80px;
    height: 80px;
}


.body-home{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
    


.heading {
  font-weight: 600;
  font-size: nth($fontsize, 11 );
}


.two-column {
  @extend %display-flex;
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: 130px;
  color: $bg-secundario;
  font-family: $ff-principal;

      .imagen {
        object-fit: contain;
        @extend %wh-porcentaje-100;
        padding: 10px;
        max-width: 854px;
        max-height: 480px;

        }

      h2 {
        padding-top: 10px;

        .reserva{

          @extend %text-decoration;
            color: $bg-secundario;
            font-size: nth($fontsize , 7 );
        
          &:hover{
                @extend %text-line;
                color: $bg-cuarto;
        
            }
        }
      }

      .desc {
        color: $bg-secundario;
        padding: 15px;
      }


      div {
        flex: 1;
        @extend %flex-center;
        @extend %text-center;
      }
}



@media (max-width: 1632px) {
  
  .heading {
  font-weight: 600;
  font-size: 5rem ;
 }
}


@media (max-width: 1200px) {
 
  .two-column {
    display: flex;
    flex-direction: column;
    margin: 75px;

      .heading {
        font-weight: 600;
        font-size: 4rem;
  } 
  
}

@media (max-width: 600px) {

  
  body {
    padding-top: 50px;
  }
  
   .two-column {
   margin: 75px 25px;

      .heading {
        font-weight: 600;
        font-size: 3rem;
      }
    } 
  } 
}


/*Animacion Carrousel*/


@mixin white-gradient {
	background: linear-gradient(to right,  $bg-secundario 0%,$bg-primario 100%);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}

::before{
    left: 0;
    top: 0;
}

::after{
    
    height: 100px;
    position:map-get($position, absolute);
    width: 200px;
    z-index: 2;
    right: 0;
    top: 0;
    transform: rotateZ(180deg);

}


.slider{
    
  background: $bg-secundario;
	box-shadow: 0 10px 20px -5px $bg-primario;
	margin: auto;
	overflow:hidden;
	position:map-get($position, relative );
  animation: 40s;
  @extend %wh-tercero;
    
    .slide-track{
        
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
        
        .slide{

            @extend %wh-tercero;

            img{
              @extend %wh-porcentaje-100;
            }
        }
    }
}

  




