
.body-services{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}


.container{
    font-family: $ff-principal;

    a {
      @extend %text-decoration;
    }

  .center-heading {

    @extend %text-center;


        .section-title {
          font-weight: 400;
          font-size: nth($fontsize, 14 );
          color: $bg-secundario;
          letter-spacing: 1.1px;
          line-height: 38px;
          margin-bottom: 100px;
          margin-top: 20px;
        }

  }

          .services-small-item{

            display: block;
            background-image: linear-gradient(60deg, #a4a184 0%, #2d2d2e 100%);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
            border-radius: 5px;
            padding: 40px 28px;
            @extend %text-center;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            position:map-get($position, relative );
            z-index: 2;
            margin-bottom: 30px;

            &:hover{
              margin-top: -15px;
            }

            &::before{

              content: '';
              position:map-get($position, absolute );
              @extend %wh-porcentaje-100;
              top: 0px;
              left: 0px;
              border-radius: 5px;
              background-image: linear-gradient(to right, #c6a323 0%, #131524 100%);
              -webkit-transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s;
              opacity: 0;

            }


            .button {
              position:map-get($position, relative );
              z-index: 2;

              i {
                width: 42px;
                height: 42px;
                background-color: $bg-primario;
                line-height: 42px;
                @extend %text-center;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
                color: $bg-secundario;
                padding-left: 3px;
              }
            }

                .icon {
                  width: 139px;
                  height: 139px;
                  margin: auto;
                  position:map-get($position, relative );
                  margin-bottom: 20px;
                  -webkit-transition: all 0.3s ease 0s;
                  -moz-transition: all 0.3s ease 0s;
                  -o-transition: all 0.3s ease 0s;
                  transition: all 0.3s ease 0s;

                        i {
                          display: block;
                          height: 67px;
                          line-height: 67px;
                          position:map-get($position, absolute);
                          width: 100%;
                          top: 22px;
                          z-index: 2;
                          font-size: nth($fontsize, 14 );
                          background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
                          -webkit-background-clip: text;
                          -webkit-text-fill-color: transparent;
                          -webkit-transition: all 0.3s ease 0s;
                          -moz-transition: all 0.3s ease 0s;
                          -o-transition: all 0.3s ease 0s;
                          transition: all 0.3s ease 0s;
                        }
                }



                p {
                  font-weight: 400;
                  font-size: nth($fontsize, 15 );
                  color: $bg-primario;
                  letter-spacing: 0.88px;
                  line-height: 26px;
                  position:map-get($position, relative );
                  z-index: 2;
                  -webkit-transition: all 0.3s ease 0s;
                  -moz-transition: all 0.3s ease 0s;
                  -o-transition: all 0.3s ease 0s;
                  transition: all 0.3s ease 0s;
                  margin-bottom: 30px;
                }

            
                  .text-1{

                  font-size: nth($fontsize, 17);
                  padding-top: 20px;
                  padding-bottom: 87px;
                  @extend %text-center;

                  }

                  .text-2{
                      font-size: nth($fontsize, 17 );
                      padding-top: 20px;
                      padding-bottom: 60px;
                      @extend %text-center;
                  }

                  .text-3{
                      font-size: nth($fontsize, 17 );
                      padding-top: 20px;
                      padding-bottom: 8px;
                      @extend %text-center;
                  }


                  .services-title {
                    font-weight: 400;
                    font-size: nth($fontsize, 7 );
                    color: $bg-primario;
                    letter-spacing: 0.7px;
                    margin-bottom: 15px;
                    position:map-get($position, relative );
                    z-index: 2;
                    -webkit-transition: all 0.3s ease 0s;
                    -moz-transition: all 0.3s ease 0s;
                    -o-transition: all 0.3s ease 0s;
                    transition: all 0.3s ease 0s;
                  }
                  

        }

}



.services-small-item.active:before, .services-small-item:hover:before {
  opacity: 1;
}

.services-small-item.active .icon:before, .services-small-item:hover{
  
  .icon:before {
    opacity: .26;
  }
}

.services-small-item.active .icon i, .services-small-item:hover{

  .icon{
   
    i {

      background: -webkit-linear-gradient($bg-secundario, $bg-secundario);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.services-small-item.active .services-title, .services-small-item:hover{

      .services-title {
        color: $bg-secundario;
      }
}

.services-small-item.active p, .services-small-item:hover{

    p {
      color: $bg-secundario;
    }
}

.services-small-item.active .button i, .services-small-item:hover{
          
           .button{
            
                  i {
                  
                    background-image: linear-gradient(135deg,$bg-secundario 0%, $bg-secundario 100%) !important;
                    color: $bg-primario !important;
                }
           }
}


